.Header{
    position: fixed;
    width: 100%;
    height: 10vh;
    background-color: #191D24;
    min-height: 64px;
}
.Header__image{
    position: absolute;
    width: 100%;
    max-width: 384px;
    margin: 5px 0;
    margin-left: 4px;
}
.Header__Filler{
    width:  20px;
}
