.Header{
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-height: 64px;
}
.Header__imageContainer{
    display: block;
    max-width: 100%;
}
.Header__image{
    display: block;
    max-width: 100%;
    margin: 5px 0;
    margin-left: 4px;
}
@media (min-width: 321) {
    .Header{

    }
}